.container-fluid{
    margin: 0;
    padding: 0;
}
/* image slider */
.button-primary{
    background-image: linear-gradient(#e2ac37,#c2a319);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.button-primary a{
    text-decoration: none;
    color: white;
}

.brdr-bonus{
    border-radius: 15px;
    border: 15px solid gray;
}