@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    margin: 0;
    padding: 0;
}

nav a{
    font-weight: 500;
}
/* image slider */
.button-primary{
    background-image: linear-gradient(#e2ac37,#c2a319);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.button-primary a{
    text-decoration: none;
    color: white;
}
/* second section */
.border-second{
    border-radius: 15px;
    border: 12px solid gray;
}
.toast{
    width: 280px;
}
/* package section */
.card-body li{
    list-style: none;
}

.button-second{
    background:#ebe8ea;
    border: none;
    color: #0056d8;
    border-radius: 24px;
    padding: 9px 25px;
    width: 207px;
    height: 45px;
}


.button-third{
    background-image: linear-gradient(#FFFFFF);
    border: none;
    color: #3F87F5;
    border-radius: 24px;
    padding: 9px 25px;
    width: 207px;
    height: 45px;
}

/* footer section */

footer{
    height: 280px;
    background-color: #0B0D17;
}
.ftr-item1{
    text-align: center;
}
.button-apple{
    background-color: #000000;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 145px;
    height: 50px;
}
.button-apple a{
    text-decoration: none;
    color: white;
}
.button-android{
    background-color: #000000;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 145px;
    height: 50px;
}
.button-android a{
    text-decoration: none;
    color: white;
}




